<div class="carrier-logos-container page-width">

  {% for block in section.blocks %}
    <div class="carrier-logo grid-item">
      <img src="{{block.settings.logos |  img_url: '170x48'}}">
    </div>
  {% endfor %}
  
</div>

{% schema %}
  {
    "name": "Carrier Logos",
    "blocks": [
      {        
		"type": "logo",
        "name": "Carrier Logos",
        "settings": [
          {
            "id": "logos",
            "type": "image_picker",
            "label": "Pick an image"
          }
		]
      }
    ],
    "presets": [
      {
        "name": "Carrier Logos",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
	.carrier-logos-container {
		display: grid;
		grid-template-columns: repeat(6, auto);
		align-items: center;
	}
	.carrier-logo {
		display: grid;
		justify-self: center;
		place-self: center;
		width: 100%;
		height: auto;
		padding: 1rem;
	}


	@media (max-width: 1000px) {
      .carrier-logos-container {
          grid-template-columns: repeat(3, auto);
      }
    }

	@media (max-width: 500px) {
      .carrier-logos-container {
          grid-template-columns: repeat(2, auto);
      }
      .carrier-logo img {
          width: 90%;
      }
    }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
