<div class="custom-text-section">
  <h2> {{ section.settings.custom_text_title }} </h2>
  <div>{{ section.settings.custom_text_body }}</div>
</div>

{% schema %}
  {
    "name": "Carrier Logos",
    "settings": [
      {
        "id": "logos",
        "type": "image_picker",
        "label": "Pick an image"
      }
    ],
    "presets": [
      {
        "name": "custom-text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
