<div class="carrier-logos-container">

  {% for block in section.blocks %}
    <div class="carrier-logo">
      <img src="{{block.settings.logos |  img_url: '170x48'}}">
    </div>
  {% endfor %}
  
</div>

{% schema %}
  {
    "name": "Carrier Logos",
    "blocks": [
      {        
		"type": "image_picker",
        "name": "Carrier Logos",
        "settings": [
          {
            "id": "logos",
            "type": "image_picker",
            "label": "Pick an image"
          }
		]
      }
    ],
    "presets": [
      {
        "name": "Carrier Logos",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
	.carrier-logos-container {
		display: grid;
	}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
