<div class="promo-header-container full-width">
{{section.settings.background_image}}<br>
<br>

  {{section.settings.background_color}}<br>

<br>
  
</div>

{% schema %}
  {
    "name": "Promo Header",
    "settings": [  
		{
          "id": "background_image",
          "type": "image_picker",
          "label": "Pick a background image"
		},
		{
          "id": "background_color",
          "type": "color",
          "label": "Pick a background color"
		}
	],
    "blocks": [
      {        
		"type": "image_picker",
        "name": "Carrier Logos",
        "settings": [
          {
            "id": "background_image",
            "type": "image_picker",
            "label": "Pick a background image"
          }
		]
      }
    ],
    "presets": [
      {
        "name": "Promo Header",
        "category": "Promo"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
  .promo-header-container {
	height: 40rem;
  }

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
