{{ 'promo-header.css' | asset_url | stylesheet_tag }}

<div class="promo-header-container full-width">
  <div class="promo-header">
    Dynamic copy goes here or a dynamic image.
  </div>
</div>

{% if request.locale.name == "English" %}
   <h1>English</h1>
{% else %}
   <h1>French</h1>
{% endif %}

<style>
  .promo-header-container {
	height: 40rem;
	background-color: {{section.settings.background_color}};
	background-image: url({{section.settings.background_image | img_url: "master"}});
	background-size: cover;
	background-position: center;
  }
/*   var(--color-foreground) */
</style>


{% schema %}
  {
    "name": "Promo Header",
  	"max_blocks": 1,
    "settings": [  
		{
          "id": "background_image",
          "type": "image_picker",
          "label": "Pick a background image"
		},
		{
          "id": "background_color",
          "type": "color",
          "label": "Pick a background color"
		}
	],
    "blocks": [
      {        
		"type": "BTS",
        "name": "Back to School",
        "settings": [
          {
            "id": "en_bts_line1",
            "type": "text",
            "label": "EN Line1"
          },
          {
            "id": "en_bts_line2",
            "type": "text",
            "label": "EN Line2"
          },
          {
            "id": "en_bts_line3",
            "type": "text",
            "label": "EN Line3"
          },
          {
            "id": "en_bts_line4",
            "type": "text",
            "label": "EN Line4"
          },
          {
            "id": "en_bts_line5",
            "type": "text",
            "label": "EN Line5"
          },
          {
            "id": "en_bts_line6",
            "type": "text",
            "label": "EN Line6"
          },
		  {
            "id": "fr_bts_line1",
            "type": "text",
            "label": "FR Line1"
          },
          {
            "id": "fr_bts_line2",
            "type": "text",
            "label": "FR Line2"
          },
          {
            "id": "fr_bts_line3",
            "type": "text",
            "label": "FR Line3"
          },
          {
            "id": "fr_bts_line4",
            "type": "text",
            "label": "FR Line4"
          },
          {
            "id": "fr_bts_line5",
            "type": "text",
            "label": "FR Line5"
          },
          {
            "id": "fr_bts_line6",
            "type": "text",
            "label": "FR Line6"
          }
		]
      },
	  {        
		"type": "VIP",
        "name": "VIP Sale",
        "settings": [
          {
            "id": "vip",
            "type": "text",
            "label": "Insert text here"
          }
		]
      }
    ],
    "presets": [
      {
        "name": "Promo Header",
        "category": "Promo"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
