{{ 'promo-header.css' | asset_url | stylesheet_tag }}

<div class="promo-header-container full-width">
  <div class="promo-header">
    Dynamic copy goes here or a dynamic image.
  </div>
</div>

<style>
  .promo-header-container {
	height: 40rem;
	background-color: {{section.settings.background_color}};
	background-image: url({{section.settings.background_image | img_url: "master"}});
	background-size: cover;
	background-position: center;
  }
</style>


{% schema %}
  {
    "name": "Promo Header",
  	"max_blocks": 1,
    "settings": [  
		{
          "id": "background_image",
          "type": "image_picker",
          "label": "Pick a background image"
		},
		{
          "id": "background_color",
          "type": "color",
          "label": "Pick a background color"
		}
	],
    "blocks": [
      {        
		"type": "BTS",
        "name": "Back to School",
        "settings": [
          {
            "id": "BTS_1",
            "type": "text",
            "label": "Insert text here"
          },
          {
            "id": "BTS_2",
            "type": "text",
            "label": "Insert text here"
          },
          {
            "id": "BTS_3",
            "type": "text",
            "label": "Insert text here"
          },
          {
            "id": "BTS_4",
            "type": "text",
            "label": "Insert text here"
          }
		]
      },
	  {        
		"type": "VIP",
        "name": "VIP Sale",
        "settings": [
          {
            "id": "VIP",
            "type": "text",
            "label": "Insert text here"
          }
		]
      }
    ],
    "presets": [
      {
        "name": "Promo Header",
        "category": "Promo"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
