  .promo-header-container {
	height: 40rem;
/* 	background-color: {{section.settings.background_color}}; */
/* 	background-image: url({{section.settings.background_image | img_url: "master"}}); */
	background-size: cover;
	background-position: center;
  }